<mat-card class="mat-elevation-z0" (click)="showVideoPlayer()">
  <img src="{{videoData.thumbnail}}" alt="{{videoData.title}}" (load)="imageLoaded = true" mat-card-image>
  <mat-card-content>
    <div class="video-spinner-container" *ngIf="!imageLoaded">
      <mat-spinner></mat-spinner>
    </div>
    <div>
      <strong class="video-title">{{videoData.title}}</strong>
    </div>
  </mat-card-content>
  <!-- <mat-card-footer>
    <div class="container">
      <div class="row">
        <mat-divider></mat-divider>
        <div class="align-content-center col-12 d-flex pb-2 pt-2">
          <i class="material-icons">notifications</i>
          <span class="tournament-name">{{videoData.tournament.name}}</span>
        </div>
      </div>
    </div>
  </mat-card-footer> -->
</mat-card>
