<div class="w-100 nav-menu-container">
    <div class="dashboard-top-logo-area container">
      <div class="row">
          <div class="col-2 p-0">
            <a href="/">
              <img class="site-logo" src="assets/images/sp_logo.jpg" alt="site logo">      
            </a>  
          </div>
          <div class="col-7">
            <ul class="nav-menu d-flex">
              <li [routerLink]="['/videos']" [class.nav-item-selected]="selectedPage === 'videos'">Browse Fights</li>
              <li [routerLink]="['/fighters']" [class.nav-item-selected]="selectedPage === 'fighters'">Fighters</li>
              <li [routerLink]="['/tournaments']" [class.nav-item-selected]="selectedPage === 'tournaments'">Tournaments</li>
            </ul>
          </div>
          <div class="col-3 d-flex justify-content-end align-items-center p-0" *ngIf="loggedInUserName">
            <!-- <div class="mt-1 mr-3">
              <strong>{{loggedInUserName}}</strong>
            </div> -->
            <div [matMenuTriggerFor]="userMenu">
                <button mat-icon-button aria-label="Settings" class="navigation-settings-button">
                    <mat-icon>tune</mat-icon>
                </button>
            </div>
            <mat-menu #userMenu="matMenu">
              <div class="text-center navigation-menu-username-container">
                <strong>{{loggedInUserName}}</strong>
              </div>
              <mat-divider></mat-divider>
              <button mat-menu-item  [routerLink]="['/admin/dashboard']" class="d-flex align-items-center navigation-menu-button">
                <i class="material-icons mr-2">
                    dashboard
                </i>
                  <span>Dashboard</span>
              </button>
              <button mat-menu-item (click)="logout()" class="d-flex align-items-center navigation-menu-button">
                  <i class="material-icons mr-2">
                      lock
                  </i>
                  <span>Log out</span>
              </button>
            </mat-menu>
          </div>
      </div>
    </div>
  </div>