<div class="w-100 nav-menu-container">
    <div class="dashboard-top-logo-area container">
      <div class="row">
          <div class="col-2 p-0">
            <a href="/">
              <img class="site-logo" src="assets/images/sp_logo.jpg" alt="site logo">      
            </a>  
          </div>
          <div class="col-7">
            <ul class="nav-menu d-flex">
              <li [routerLink]="['/videos']" [class.nav-item-selected]="selectedPage === 'videos'">Browse Fights</li>
              <li [routerLink]="['/fighters']" [class.nav-item-selected]="selectedPage === 'fighters'">Fighters</li>
              <li [routerLink]="['/tournaments']" [class.nav-item-selected]="selectedPage === 'tournaments'">Tournaments</li>
              <li [routerLink]="['/fightclubs']" [class.nav-item-selected]="selectedPage === 'fightclubs'">Fight Clubs</li>
            </ul>
          </div>
          <div class="col-3 mt-3 d-flex justify-content-end p-0" *ngIf="loggedInUserName">
            <div class="mt-1 mr-3">
              <strong>{{loggedInUserName}}</strong>
            </div>
            <div [matMenuTriggerFor]="userMenu">
              <img id="user-profile-image" src="assets/images/user_image_placeholder.png" alt="user profile image">
            </div>
            <mat-menu #userMenu="matMenu">
              <button mat-menu-item  [routerLink]="['/admin/dashboard']" class="d-flex align-items-center">
                <i class="material-icons">
                    dashboard
                </i>
                  <span>Dashboard</span>
              </button>
              <button mat-menu-item (click)="logout()" class="d-flex align-items-center">
                  <i class="material-icons">
                      lock
                  </i>
                  <span>Log out</span>
              </button>
            </mat-menu>
          </div>
      </div>
    </div>
  </div>