<div class="w-100 nav-menu-container">
    <div class="dashboard-top-logo-area container">
      <div class="row">
          <div class="col-2 p-0">
            <a href="/">
              <img class="site-logo" src="assets/images/sp_logo.jpg" alt="site logo">      
            </a>  
          </div>
          <div class="col-7">
            <ul class="nav-menu d-flex">
              <li [routerLink]="['/videos']">Videos</li>
              <li [routerLink]="['/admin/list', 'fightclub']">Fightclubs</li>
              <li [routerLink]="['/admin/list', 'fighter']">Fighters</li>
              <li [routerLink]="['/admin/list', 'tournament']">Tournaments</li>
              <li [routerLink]="'/admin/pageconfig'">
                <strong>Page configuration</strong>
              </li>
            </ul>
          </div>
          <div class="col-3 mt-3 d-flex justify-content-end p-0" *ngIf="loggedInUserName">
            <div class="mt-1 mr-3">
              <strong>{{loggedInUserName}}</strong>
            </div>
            <div [matMenuTriggerFor]="userMenu">
              <img id="user-profile-image" src="assets/images/user_image_placeholder.png" alt="user profile image">
            </div>
            <mat-menu #userMenu="matMenu">
              <button mat-menu-item>
                  <i class="material-icons">
                      account_circle
                  </i>
                  <span>Edit Profile</span>
              </button>
              <button mat-menu-item (click)="logout()">
                  <i class="material-icons">
                      lock
                  </i>
                  <span>Log out</span>
              </button>
            </mat-menu>
          </div>
      </div>
    </div>
  </div>