.banner-config-image-container{
    height: 40vh;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

.banner-config-image-placeholder{
    background: lightgray;
    color: #7d7b7b;
}

.banner-content{
    
}

.banner-title{
    font-family: 'Oxygen', sans-serif;
}

.featured-tournament-description-container{
    border-radius: 5px;
    padding: 15px;
}