mat-card-title{
    text-transform: capitalize;
}

.fightclub-form-field-container mat-form-field,
.fighter-form-field-container mat-form-field{
    width: 100%;
}

.fighter-profile-image{
    width: 100%;
}

.fight-contestant-card-container{
    border-radius: 2px;
}

.red-fight-contestant-card img, .blue-fight-contestant-card img{
    width: 50%;
}

.tournament-image-placeholder{
    height: 350px;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
}
