
<mat-card class="mt-2">
    <mat-card-title>
      Tournament fights
      <button mat-raised-button (click)="createFight()" class="float-right">
          <mat-icon>add</mat-icon>
          <span>Create fight</span>
        </button>
    </mat-card-title>
    <mat-card-content>
        <div class="mb-3">
            <div *ngIf="fightList.length < 1" class="p-5 text-center">
              <strong class="no-result-text">
                There are no fights to this tournament yet
              </strong>
            </div>
            <div *ngIf="fightList && fightList.length > 0" class="container">
              <mat-accordion>
                <mat-expansion-panel *ngFor="let fight of fightList">
                  <mat-expansion-panel-header>
                    <mat-panel-description class="d-flex row">
                        <div class="text-center col-5">
                            <strong>
                                {{fight['red'].firstname}}
                                {{fight['red'].lastname}} 
                              </strong>
                        </div>
                        <div class="text-center col-2">
                          <strong >
                              VS
                          </strong>
                        </div>
                        <div class="text-center col-5">
                          <strong>
                            {{fight['blue'].firstname}}
                            {{fight['blue'].lastname}}
                          </strong>
                        </div>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div  class="row text-center  pt-2 mt-1 mb-1">
                    <div class="fight-contestant-card col-6 m-auto">
                      <img src="{{config.storageUrl + fight['red'].image}}" alt="" class="w-50">
                    </div>
                    <div class="fight-contestant-card col-6 m-auto">
                      <img src="{{config.storageUrl + fight['blue'].image}}" alt="" class="w-50">
                    </div>
                  </div>
                  <mat-action-row>
                      <mat-form-field class="col-8">
                          <input type="text" matInput placeholder="Video URL">
                      </mat-form-field>
                      <mat-form-field class="col-4">
                        <mat-select placeholder="Fight winner" [value]="fight.winnerfighterid">
                          <mat-option [value]="fight.red.id">
                            {{fight.red.firstname}}
                            {{fight.red.lastname}}
                          </mat-option>
                          <mat-option [value]="fight.blue.id">
                            {{fight.blue.firstname}}
                            {{fight.blue.lastname}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>  
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
    </mat-card-content>
  </mat-card>
