
<div class="w-100 featured-tournament-container page-body">
  <app-featured-tournament ></app-featured-tournament>
</div>
<div class="container mt-4 mb-3 page-body">
  <div class="row">
    <mat-card class="w-100 ">
      <mat-card-content class="w-100">
        <div class="container">
          <div class="row">
            <div class="col-12 tournament-list-item mb-3" *ngFor="let tournament of tournamentList">
              <div class="row">
                <div class="col-3 tournament-list-item-image d-flex justify-content-center align-items-center" [ngStyle]="{'background':'url(' + tournament.image + ')'}">
                    <div class="tournament-list-item-date text-center">
                        <h4>{{tournament.startdate | date:'dd'}}</h4>
                        <strong>{{tournament.startdate | date:'MMM yyyy'}}</strong>
                    </div>
                </div>
                <div class="col-9 tournament-list-item-data-container">
                  <h5>
                    {{tournament.name}}
                  </h5>
                  <span>
                      {{ (tournament.description.length>6)? (tournament.description | slice:0:250) + '..' : (tournament.description) }}
                  </span>
                  <div>
                    <mat-divider></mat-divider>
                    <div class="row h-100">
                      <div class="col-4 d-flex justify-content-start align-items-center">
                          <mat-icon class="mr-2">map</mat-icon>
                          <strong class="small">
                            {{tournament.city}}, {{tournament.address}}
                          </strong> 
                      </div>
                      <div class="col-4 d-flex justify-content-center align-items-center">
                          <mat-icon class="mr-2">access_time</mat-icon>
                          <strong class="small">
                            {{tournament.starttime}}
                          </strong> 
                      </div>
                      <div class="col-4 d-flex justify-content-start align-items-center">
                          <!-- <mat-icon class="mr-2">access_time</mat-icon>
                          <strong class="small">
                            {{tournament.startdate | date:'HH:mm'}}
                          </strong>  -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>