.user-stats-list li{
    margin-top: 15px;
    font-size: larger;
    border-bottom: 1px solid lightgray;
}

/* .fighter-social-wrapper{
    background: #1d75bd;
    color: white;
} */

.bio-container{
    font-size: smaller;
}


.fighter-nickname{
    color: lightgray;
    font-size: large;
}
