<div class="container">
  <div class="row">
    <div class="col-2 p-0">
      <a href="/">
        <img class="site-logo" src="https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/14225571_1189069641149829_1248505013951375893_n.jpg?_nc_cat=106&_nc_ht=scontent-amt2-1.xx&oh=6623d74ad34e85ad165e433b293d1b0a&oe=5D7494E6" alt="site logo">      
      </a>  
    </div>
    <div class="col-10">
      <ul class="main-user-menu-nav d-flex m-0 h-100">
        <li class="mt-auto mb-auto">
          <a href="" data-hover="Tournaments" class="main-user-menu-nav-item-link">
              Tournaments
          </a>
        </li>
        <li class="mt-auto mb-auto">
          <a href="" data-hover="Fighters" class="main-user-menu-nav-item-link">Fighters</a> 
        </li>
        <li class="mt-auto mb-auto">
          <a href="" data-hover="Rankings" class="main-user-menu-nav-item-link">Rankings</a>
        </li>
      </ul>
    </div>
  </div>
</div>
