mat-list-item{
    box-shadow: 0px 0px 2px 1px lightgrey!important;
    border-radius: 3px!important;
    height: 120px!important;
}

.fighter-avatar-image{
    width: 100%;
    height: auto;
}


.no-list-items-message-container{
    position: absolute;
    width: 100%;
}

mat-list{
    height: 70vh;
}
