<mat-card class="w-100" dense>
  <mat-card-title>
    <div class="text-capitalize">{{modelName}} management</div>
  </mat-card-title>
  <mat-card-content>
      <div class="align-content-center d-flex justify-content-between">
        <div>
          <mat-form-field>
            <input type="text" matInput placeholder="Search for {{modelName}}" (keyup)="searchForModel($event.target.value)">
          </mat-form-field>
        </div>
        <div class="pr-1">
          <button mat-raised-button routerLink="/admin/add/{{modelName}}">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div *ngIf="!modelList" >
        <mat-spinner class="ml-auto mr-auto mt-5 mb-5"></mat-spinner>
      </div>
      <div *ngIf="modelList && modelList.length === 0" class="no-list-items-message-container">
        <h5 class="no-result-text text-center mt-5 mb-4">There are no {{modelName}}s created yet</h5>
      </div>
      <ng-scrollbar>
        <mat-list role="list" class="m-2" dense>
            <mat-list-item *ngFor="let model of modelList" class="m-1" [class.fightclub-card]="modelName === 'fightclub'">
              <div class="w-100 fightclub-image-container" 
              *ngIf="modelName === 'fightclub'" [routerLink]="['/admin/edit/' + modelName + '/' + model.id]">
              <div class=" fightclub-image container" [ngStyle]="{'background':'url(' + config.storageUrl + model.image + ')'}" >
                <div class="row h-100">
                  <div class="col-6 m-auto">
                      <h3>
                          {{model.name}}
                      </h3>
                  </div>
                  <div class="col-6 fightclub-controls d-flex justify-content-end m-auto">
                      <button mat-icon-button class="float-right" (click)="areYouSure(model.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                  </div>
                </div>
              </div>
                <div class="container mat-elevation-z10 fightclub-list-item-info p-4">
                  <div class="row">
                    <div class="col-3">
                      <div class="w-100 d-flex">
                          <div><mat-icon>place</mat-icon></div>
                          <div class="mt-auto mb-auto"><strong>{{model.address}}, {{model.city}}</strong></div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="w-100 d-flex justify-content-center">
                          <div><mat-icon>email</mat-icon></div>
                          <div class="mt-auto mb-auto ml-1"><strong>{{model.email}}</strong></div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="w-100 d-flex justify-content-center">
                          <div><mat-icon>phone</mat-icon></div>
                          <div class="mt-auto mb-auto ml-1"><strong>{{model.phone}}</strong></div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="w-100 d-flex justify-content-center">
                          <div><mat-icon>person</mat-icon></div>
                          <div class="mt-auto mb-auto ml-1"><strong>{{model.membercount}}</strong></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container p-0" *ngIf="modelName === 'fighter'">
                  <div class="row">
                    <div class="col-2  m-auto">
                      <img class="fighter-avatar-image" src="{{model.image ? config.storageUrl + model.image : config.profileImagePlaceholderUrl}}" alt="">
                    </div>
                    <div class="col-8 pt-2">
                        <div class="row">
                          <div class="col-12">
                              <strong>
                                {{model.firstname}}
                                {{model.lastname}}
                              </strong>
                            </div>
                            <div class="col-2 pt-2">
                                <small>
                                    {{model.birthdate}}
                                </small>
                            </div>
                            <div class="col-2 pt-2">
                                <small>
                                    {{model.weight}}
                                </small>
                            </div>
                            <div class="col-2 pt-2">
                                <small>
                                    {{model.height}}
                                </small>
                            </div>
                          </div>
                      </div>
                      <div class="col-2 pr-1 d-flex justify-content-end pt-3">
                        <button mat-icon-button class="float-right" [routerLink]="['/admin/edit/' + modelName + '/' + model.id]">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="float-right" (click)="areYouSure(model.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>
                </div>
              <div class="container p-0" *ngIf="modelName === 'tournament'">
                  <div class="row">
                    <div class="col-10 pt-2">
                        <div class="row">
                          <div class="col-12">
                              <strong>
                                {{model.name}}
                              </strong>
                            </div>
                            <div class="col-4 pt-2">
                              <div>
                                  <strong>Starts: </strong> <span>{{model.startdate | date:'short'}}</span>
                              </div>
                              <div>
                                  <strong>Ends: </strong> <span>{{model.enddate | date:'short'}}</span>
                              </div>
                            </div>
                            <div class="col-6 pt-2">
                                <mat-icon>location_on</mat-icon>
                                <span>
                                    {{model.address}}, {{model.city}}
                                </span>
                            </div>
                          </div>
                      </div>
                      <div class="col-2 pr-1 d-flex justify-content-end pt-3">
                        <button mat-icon-button class="float-right" [routerLink]="['/admin/edit/' + modelName + '/' + model.id]">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="float-right" (click)="areYouSure(model.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>
                </div>
            </mat-list-item>
          </mat-list>
      </ng-scrollbar>
  </mat-card-content>
</mat-card>