<h4>Select fight contestants</h4>
<mat-dialog-content class="pt-4">
  <div class="row p-1">
    <div class="col-5">
      <button mat-raised-button class="w-100 add-contestant-button" 
      [class.mat-accent]="selectingRedContestant" 
      (click)="chooseContestant('red')"
      *ngIf="!redContestant">
        <mat-icon>add</mat-icon>
        <strong>Select contestant</strong>
      </button>
      <div class="w-100 add-contestant-button d-flex justify-content-center"
          *ngIf="redContestant" 
          [class.mat-elevation-z10]="selectingRedContestant"
          [ngStyle]="{'background-image': 'url(' + redContestant.image + ')'}"
          (click)="chooseContestant('red')">
        <div class="alert alert-danger mt-auto text-center w-100">
          <strong>
            {{redContestant.firstname}}
            {{redContestant.lastname}}
          </strong>
        </div>
      </div>
    </div>
    <div class="col-2 versus-text">
      <strong>VS</strong>
    </div>
    <div class="col-5">
      <button mat-raised-button class="w-100 add-contestant-button" 
      [class.mat-primary]="selectingBlueContestant" 
      (click)="chooseContestant('blue')"
      *ngIf="!blueContestant">
        <mat-icon>add</mat-icon>
        <strong>Select contestant</strong>
      </button>
      <div class="w-100 add-contestant-button d-flex justify-content-center"
          [class.mat-elevation-z10]="selectingBlueContestant"
          *ngIf="blueContestant" 
          [ngStyle]="{'background-image': 'url(' + blueContestant.image + ')'}"
          (click)="chooseContestant('blue')">
        <div class="alert alert-info mt-auto text-center w-100">
            <strong>
                {{blueContestant.firstname}}
                {{blueContestant.lastname}}
            </strong>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="displayContestantSelection && fightclubList" class="container p-2">
    <div class="row mt-2">
      <mat-form-field class="col-12">
        <mat-select [(value)]="selectedClubId" (selectionChange)="clubFilterChanged($event)" placeholder="Filter fighters by fightclub">
          <mat-option *ngFor="let fightclub of fightclubList" [value]="fightclub.id">
            {{fightclub.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <ng-scrollbar>
    <div class="container">
        <div class="fightclub-member-container row">
          <div *ngFor="let fighter of fightclubMembers" class="col-xl-3 col-lg-4 col-md-6 mt-1">
            <app-fighter-card [fighter]="fighter" (click)="setSelectedFighter(fighter.id)"
            [selected]="(this.redContestant && this.redContestant.id === fighter.id || this.blueContestant && this.blueContestant.id  === fighter.id)"></app-fighter-card>   
          </div>
      </div>
    </div>
  </ng-scrollbar>
</mat-dialog-content>
<mat-dialog-actions class="d-flex align-content-end justify-content-end">
  <button mat-raised-button class="float-right" (click)="saveFight()">
    <mat-icon>add</mat-icon>
    <span>Save fight</span>
  </button>
</mat-dialog-actions>
