<mat-progress-spinner *ngIf="!videoLoaded" mode="indeterminate"></mat-progress-spinner>
<div class="player-window-body h-100">
    <div>
      <iframe [src]="baseVideoUrl"
      (load)="videoLoaded = true"
        width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
    </div>
     <div class="p-2 video-info-container">
       <mat-card>
         <mat-card-title class="font-bebas text-center">
            Fight Contestants
            <mat-divider></mat-divider>
         </mat-card-title>
         <mat-card-content class="pt-2">
             <div class="contestant-card-top mat-elevation-z2 p-2 contestant-card position-relative">
               <div class="contestant-image-container" [ngStyle]="{'background':'url(' + videoData.relatedfighters[0].image + ')'}"></div>
               <div class="contestant-info font-bebas pl-2">
                 <span class="win-label-top win-label" *ngIf="videoData.tournamentfight.winnerfighterid === videoData.relatedfighters[0].id">WIN</span>
                 <h5 class="contestant-name">{{videoData.relatedfighters[0].firstname}} {{videoData.relatedfighters[0].lastname}}</h5>
                 <span class="contestant-nickname">({{videoData.relatedfighters[0].nickname}})</span>
               </div>
             </div>
             <div class="versus-divider text-center mt-2 mb-2">
               <h4>
                   VS
               </h4>
             </div>
             <div class="contestant-card-bottom text-right mat-elevation-z2 p-2 contestant-card position-relative">
               <span class="win-label-bottom font-bebas win-label" *ngIf="videoData.tournamentfight.winnerfighterid === videoData.relatedfighters[1].id">WIN</span>
               <div class="contestant-info font-bebas pr-2">
                 <h5 class="contestant-name">{{videoData.relatedfighters[1].firstname}} {{videoData.relatedfighters[1].lastname}}</h5>
                 <span class="contestant-nickname">({{videoData.relatedfighters[1].nickname}})</span>
               </div>
               <div class="contestant-image-container" [ngStyle]="{'background':'url(' + videoData.relatedfighters[1].image + ')'}"></div>
             </div>
         </mat-card-content>
       </mat-card>
    </div>
</div>
