/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html{
    height: 100%;
}

app-page-configuration-screen, 
app-list-models, app-homepage{
    width: 100%!important;
}

.page-body-container{
    min-height: 93vh;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}

.text-green{
    color: green;
}

.text-red{
    color: red;
}

.fighter-image{
    width: auto;
    height: 100px;
}


.no-result-text{
    color: darkgray;
}
