/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

*{
    outline: none!important;
}

.font-bebas{
    font-family: 'Bebas Neue', cursive!important;
}

.font-varela{
    font-family: 'Varela Round', sans-serif;
}

body, html{
    height: 100%;
    overflow: hidden;
}

app-page-configuration-screen, app-admindashboard,
app-add-model,
app-fighters, app-fighter-profile, app-tournaments,
app-list-models, app-homepage, app-browse-fights{
    width: 100%!important;
    padding-top: 20px;
}

app-login-page{
    margin: auto;
}

.page-body-container{
    position: relative;
    height: 92vh;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(https://www.transparenttextures.com/patterns/noisy-grid.png);
    background-color: #414143c7;
}

.text-green{
    color: green;
}

.text-red{
    color: red;
}

.fighter-image{
    width: auto;
    height: 100px;
}


.no-result-text{
    color: darkgray;
}

#video-payer-window-content-container{
    padding: 0!important;
}

ng-scrollbar-y{
    position: absolute!important;
    right: 0!important;
}

.scroll-card-content{
    height: 83vh;
}


.section-title{
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
}


.horizontal-legend{
    display: flex!important;
    justify-content: space-around!important;
}

.ngx-charts-outer{
    margin: auto;
}